@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Seymour+One&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Seymour+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Seymour+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Whisper&display=swap');
:root{
    --main-color: #626262;
    --header-color: #7D7D7D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.flex{
    display: flex;
}
.container{
    width: 906px;
    margin: 0 auto;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    margin-top: 71px;
}

.menu a{
    font-family: "Playfair Display", serif;
    color: var(--header-color);
line-height: 19px;
    font-size: 14px;
    font-weight: 400;
}

.menu{
    gap: 100px;
    justify-content: center;
}
.menu>li:first-child>a
{
    color: #3FAA3F;
}

/* ---------------------------------------------------header---------------------------------------------------- */
/* .container-main{
    width: 906px;
    margin: 0 auto;
    
}

img{

    width: 420px;
    height: 280px;
}

.main-wrap{
    justify-content: center;
    gap: 65px;
    padding-top: 111px;
} */

.container-sec1, .container-sec2, .container-sec3{
    width: 906px;
    margin: 0 auto;
}

img{
    width: 420px;
    height: 280px;
}
.text .p1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-top: 62px;
    margin-bottom: 32px;
    color: #B4AD9E;
}

.text h2{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--main-color);
}

.text .p2{
    font-family: "Playfair Display", serif;
    color: var(--main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
}

.sec1-wrap{
    padding-top: 92px;
    gap: 65px;
}

/* ---------------------------------------------------------------------section-1 --------------------------------------------------------------------------------*/


img{
    width: 420px;
    height: 280px;
}

.sec2-wrap{
    padding-top: 120px;
    justify-content: center;
    gap: 65px;
}


.text-2{
    padding-top: 32px;
}

.text-2 .p3{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 32px;
    color: #B4AD9E;
}

.text-2 h2{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--main-color);
}

.text-2 .p4{
    font-family: "Playfair Display", serif;
    color: var(--main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 40px;
}


/*  ---------------------------------------------------------------------section-2 --------------------------------------------------------------------- */





img{
    width: 420px;
    height: 280px;
}

.sec3-wrap{
    padding-top: 120px;
    justify-content: center;
    gap: 65px;
}


.text-3{
    padding-top: 32px;
}

.text-3 .p5{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 32px;
    color: #B4AD9E;
}

.text-3 h2{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--main-color);
}

.text-3 .p6{
    font-family: "Playfair Display", serif;
    color: var(--main-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 40px;
}





/*  ---------------------------------------------------------------------section-3 --------------------------------------------------------------------- */

a{
    text-decoration: none;
}

.button{
    margin-left: 362px;
    margin-top: 90px;
    width: 165px;
    height: 65px;
    border: 1px var(--main-color) solid;
}

.button .btn{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--main-color);
    padding: 20px 49px;
    white-space: nowrap;
    display: block;
}

/* =--------------------------------------------------------------------------------button----------------------------------------------------- */



